@using Craftwork_Project.Service
<!DOCTYPE html>
<html>

<head>
	@await Html.PartialAsync("MetaShared")
	@await Html.PartialAsync("CssShared") 
</head>

<body> 

	<div class="container">
		<div class="placeholder">
			<div class="parallax-window" data-parallax="scroll" data-image-src="/img/simple-house-01.jpg">
				<div class="tm-header">
					<div class="row tm-header-inner">
						<div class="col-md-6 col-12">
							<img src="~/img/simple-house-logo.png" alt="Logo" class="tm-site-logo" /> 
							<div class="tm-site-text-box">
								<h1 class="tm-site-title">@Config.CompanyName</h1>
								<h6 class="tm-site-description">@Config.CompanyShortDesc</h6>	
							</div>
						</div>
						<nav class="col-md-6 col-12 tm-nav">
							<ul class="tm-nav-ul">
								<li class="tm-nav-li"><a class="tm-nav-link active">Home</a></li>
								<li class="tm-nav-li"><a class="tm-nav-link">Cart</a></li>
								<li class="tm-nav-li"><a class="tm-nav-link">Account</a></li>							
							</ul>
						</nav>	
					</div>
				</div>
			</div>
		</div>

	<main>
		<header class="row tm-welcome-section">
			<h2 class="col-12 text-center tm-section-title">Welcome to @Config.CompanyName</h2>
			<p class="col-12 text-center">Desc</p>
		</header>

	<div>
		@RenderBody()
	</div>		
	@* <div class="s003"> *@
	@* 	<form> *@
	@* 		<div class="inner-form"> *@
	@* 			<div class="input-field first-wrap"> *@
	@* 				<div> *@
	@* 					<select data-trigger="" name="choices-single-defaul"> *@
	@* 						<option placeholder="">Category</option> *@
	@* 						<option>New Arrivals</option> *@
	@* 						<option>Sale</option> *@
	@* 						<option>Ladies</option> *@
	@* 						<option>Men</option> *@
	@* 						<option>Clothing</option> *@
	@* 						<option>Footwear</option> *@
	@* 						<option>Accessories</option> *@
	@* 					</select> *@
	@* 				</div> *@
	@* 			</div> *@
	@* 			<div class="input-field second-wrap"> *@
	@* 				<input id="search" type="text" placeholder="Enter Keywords?" /> *@
	@* 			</div> *@
	@* 			<div class="input-field third-wrap"> *@
	@* 				<button class="btn-search" type="button"> *@
	@* 					<svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"> *@
	@* 						<path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path> *@
	@* 					</svg> *@
	@* 				</button> *@
	@* 			</div> *@
	@* 		</div> *@
	@* 	</form> *@
	@* </div> *@
			@* <script> *@
			@* 		const choices = new Choices('[data-trigger]', *@
			@* 				{ *@
			@* 					searchEnabled: false, *@
			@* 					itemSelectText: '', *@
			@* 				}); *@
			@* </script> *@
			
	@* <div class="tm-paging-links"> *@
	@* 	<nav> *@
	@* 		<ul> *@
	@* 			<li class="tm-paging-item"><a href="#" class="tm-paging-link active">Category 1</a></li> *@
	@* 			<li class="tm-paging-item"><a href="#" class="tm-paging-link">Category 2</a></li> *@
	@* 			<li class="tm-paging-item"><a href="#" class="tm-paging-link">Category 3</a></li> *@
	@* 			<li class="tm-paging-item"><a href="#" class="tm-paging-link">Category 4</a></li> *@
	@* 			<li class="tm-paging-item"><a href="#" class="tm-paging-link">Category 5</a></li> *@
	@* 			<li class="tm-paging-item"><a href="#" class="tm-paging-link">Category 6</a></li> *@
	@* 			<li class="tm-paging-item"><a href="#" class="tm-paging-link">Category 7</a></li> *@
	@* 			<li class="tm-paging-item"><a href="#" class="tm-paging-link">Category 8</a></li> *@
	@* 			<li class="tm-paging-item"><a href="#" class="tm-paging-link">Category 9</a></li> *@
	@* 		</ul> *@
	@* 	</nav> *@
	@* </div> *@

	@* <!-- Gallery --> *@
	@* <div class="row tm-gallery"> *@
	@* <!-- gallery page 1 --> *@
	@* <div id="tm-gallery-page-pizza" class="tm-gallery-page"> *@
	@* 	<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item"> *@
	@* 		<figure> *@
	@* 			<img src="img/gallery/01.jpg" alt="Image" class="img-fluid tm-gallery-img" /> *@
	@* 			<figcaption> *@
	@* 				<h4 class="tm-gallery-title">Fusce dictum finibus</h4> *@
	@* 				<p class="tm-gallery-description">Nam in suscipit nisi, sit amet consectetur metus. Ut sit amet tellus accumsan</p> *@
	@* 				<p class="tm-gallery-price">$45 / $55</p> *@
	@* 			</figcaption> *@
	@* 		</figure> *@
	@* 	</article> *@
	@* 	<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item"> *@
	@* 		<figure> *@
	@* 			<img src="img/gallery/02.jpg" alt="Image" class="img-fluid tm-gallery-img" /> *@
	@* 			<figcaption> *@
	@* 				<h4 class="tm-gallery-title">Aliquam sagittis</h4> *@
	@* 				<p class="tm-gallery-description">Nam in suscipit nisi, sit amet consectetur metus. Ut sit amet tellus accumsan</p> *@
	@* 				<p class="tm-gallery-price">$65 / $70</p> *@
	@* 			</figcaption> *@
	@* 		</figure> *@
	@* 	</article> *@
	@* 	<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item"> *@
	@* 		<figure> *@
	@* 			<img src="img/gallery/03.jpg" alt="Image" class="img-fluid tm-gallery-img" /> *@
	@* 			<figcaption> *@
	@* 				<h4 class="tm-gallery-title">Sed varius turpis</h4> *@
	@* 				<p class="tm-gallery-description">Nam in suscipit nisi, sit amet consectetur metus. Ut sit amet tellus accumsan</p> *@
	@* 				<p class="tm-gallery-price">$30.50</p> *@
	@* 			</figcaption> *@
	@* 		</figure> *@
	@* 	</article> *@
	@* 	<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item"> *@
	@* 		<figure> *@
	@* 			<img src="img/gallery/04.jpg" alt="Image" class="img-fluid tm-gallery-img" /> *@
	@* 			<figcaption> *@
	@* 				<h4 class="tm-gallery-title">Aliquam sagittis</h4> *@
	@* 				<p class="tm-gallery-description">Nam in suscipit nisi, sit amet consectetur metus. Ut sit amet tellus accumsan</p> *@
	@* 				<p class="tm-gallery-price">$25.50</p> *@
	@* 			</figcaption> *@
	@* 		</figure> *@
	@* 	</article> *@
	@* 	<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item"> *@
	@* 		<figure> *@
	@* 			<img src="img/gallery/05.jpg" alt="Image" class="img-fluid tm-gallery-img" /> *@
	@* 			<figcaption> *@
	@* 				<h4 class="tm-gallery-title">Maecenas eget justo</h4> *@
	@* 				<p class="tm-gallery-description">Nam in suscipit nisi, sit amet consectetur metus. Ut sit amet tellus accumsan</p> *@
	@* 				<p class="tm-gallery-price">$80.25</p> *@
	@* 			</figcaption> *@
	@* 		</figure> *@
	@* 	</article> *@
	@* 	<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item"> *@
	@* 		<figure> *@
	@* 			<img src="img/gallery/06.jpg" alt="Image" class="img-fluid tm-gallery-img" /> *@
	@* 			<figcaption> *@
	@* 				<h4 class="tm-gallery-title">Quisque et felis eros</h4> *@
	@* 				<p class="tm-gallery-description">Nam in suscipit nisi, sit amet consectetur metus. Ut sit amet tellus accumsan</p> *@
	@* 				<p class="tm-gallery-price">$20 / $40 / $60</p> *@
	@* 			</figcaption> *@
	@* 		</figure> *@
	@* 	</article> *@
	@* 	<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item"> *@
	@* 		<figure> *@
	@* 			<img src="img/gallery/07.jpg" alt="Image" class="img-fluid tm-gallery-img" /> *@
	@* 			<figcaption> *@
	@* 				<h4 class="tm-gallery-title">Sed ultricies dui</h4> *@
	@* 				<p class="tm-gallery-description">Nam in suscipit nisi, sit amet consectetur metus. Ut sit amet tellus accumsan</p> *@
	@* 				<p class="tm-gallery-price">$94</p> *@
	@* 			</figcaption> *@
	@* 		</figure> *@
	@* 	</article> *@
	@* 	<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item"> *@
	@* 		<figure> *@
	@* 			<img src="img/gallery/08.jpg" alt="Image" class="img-fluid tm-gallery-img" /> *@
	@* 			<figcaption> *@
	@* 				<h4 class="tm-gallery-title">Donec porta consequat</h4> *@
	@* 				<p class="tm-gallery-description">Nam in suscipit nisi, sit amet consectetur metus. Ut sit amet tellus accumsan</p> *@
	@* 				<p class="tm-gallery-price">$15</p> *@
	@* 			</figcaption> *@
	@* 		</figure> *@
	@* 	</article> *@
	@* </div> <!-- gallery page 1 --> *@
	@* 			 *@
	@* <!-- gallery page 2 --> *@
	@* <div id="tm-gallery-page-salad" class="tm-gallery-page hidden"> *@
	@* 	<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item"> *@
	@* 		<figure> *@
	@* 			<img src="img/gallery/04.jpg" alt="Image" class="img-fluid tm-gallery-img" /> *@
	@* 			<figcaption> *@
	@* 				<h4 class="tm-gallery-title">Salad Menu One</h4> *@
	@* 				<p class="tm-gallery-description">Proin eu velit egestas, viverra sapien eget, consequat nunc. Vestibulum tristique</p> *@
	@* 				<p class="tm-gallery-price">$25</p> *@
	@* 			</figcaption> *@
	@* 		</figure> *@
	@* 	</article> *@
	@* 	<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item"> *@
	@* 		<figure> *@
	@* 			<img src="img/gallery/03.jpg" alt="Image" class="img-fluid tm-gallery-img" /> *@
	@* 			<figcaption> *@
	@* 				<h4 class="tm-gallery-title">Second Title Salad</h4> *@
	@* 				<p class="tm-gallery-description">Proin eu velit egestas, viverra sapien eget, consequat nunc. Vestibulum tristique</p> *@
	@* 				<p class="tm-gallery-price">$30</p> *@
	@* 			</figcaption> *@
	@* 		</figure> *@
	@* 	</article> *@
	@* 	<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item"> *@
	@* 		<figure> *@
	@* 			<img src="img/gallery/05.jpg" alt="Image" class="img-fluid tm-gallery-img" /> *@
	@* 			<figcaption> *@
	@* 				<h4 class="tm-gallery-title">Third Salad Item</h4> *@
	@* 				<p class="tm-gallery-description">Proin eu velit egestas, viverra sapien eget, consequat nunc. Vestibulum tristique</p> *@
	@* 				<p class="tm-gallery-price">$45</p> *@
	@* 			</figcaption> *@
	@* 		</figure> *@
	@* 	</article> *@
	@* 	<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item"> *@
	@* 		<figure> *@
	@* 			<img src="img/gallery/01.jpg" alt="Image" class="img-fluid tm-gallery-img" /> *@
	@* 			<figcaption> *@
	@* 				<h4 class="tm-gallery-title">Superior Salad</h4> *@
	@* 				<p class="tm-gallery-description">Proin eu velit egestas, viverra sapien eget, consequat nunc. Vestibulum tristique</p> *@
	@* 				<p class="tm-gallery-price">$50</p> *@
	@* 			</figcaption> *@
	@* 		</figure> *@
	@* 	</article> *@
	@* 	<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item"> *@
	@* 		<figure> *@
	@* 			<img src="img/gallery/08.jpg" alt="Image" class="img-fluid tm-gallery-img" /> *@
	@* 			<figcaption> *@
	@* 				<h4 class="tm-gallery-title">Sed ultricies dui</h4> *@
	@* 				<p class="tm-gallery-description">Proin eu velit egestas, viverra sapien eget, consequat nunc. Vestibulum tristique</p> *@
	@* 				<p class="tm-gallery-price">$55 / $60</p> *@
	@* 			</figcaption> *@
	@* 		</figure> *@
	@* 	</article> *@
	@* 	<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item"> *@
	@* 		<figure> *@
	@* 			<img src="img/gallery/07.jpg" alt="Image" class="img-fluid tm-gallery-img" /> *@
	@* 			<figcaption> *@
	@* 				<h4 class="tm-gallery-title">Maecenas eget justo</h4> *@
	@* 				<p class="tm-gallery-description">Proin eu velit egestas, viverra sapien eget, consequat nunc. Vestibulum tristique</p> *@
	@* 				<p class="tm-gallery-price">$75</p> *@
	@* 			</figcaption> *@
	@* 		</figure> *@
	@* 	</article> *@
	@* </div> <!-- gallery page 2 --> *@
	@* 			 *@
	@* <!-- gallery page 3 --> *@
	@* <div id="tm-gallery-page-noodle" class="tm-gallery-page hidden"> *@
	@* 	<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item"> *@
	@* 		<figure> *@
	@* 			<img src="img/gallery/08.jpg" alt="Image" class="img-fluid tm-gallery-img" /> *@
	@* 			<figcaption> *@
	@* 				<h4 class="tm-gallery-title">Noodle One</h4> *@
	@* 				<p class="tm-gallery-description">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p> *@
	@* 				<p class="tm-gallery-price">$12.50</p> *@
	@* 			</figcaption> *@
	@* 		</figure> *@
	@* 	</article> *@
	@* 	<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item"> *@
	@* 		<figure> *@
	@* 			<img src="img/gallery/07.jpg" alt="Image" class="img-fluid tm-gallery-img" /> *@
	@* 			<figcaption> *@
	@* 				<h4 class="tm-gallery-title">Noodle Second</h4> *@
	@* 				<p class="tm-gallery-description">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p> *@
	@* 				<p class="tm-gallery-price">$15.50</p> *@
	@* 			</figcaption> *@
	@* 		</figure> *@
	@* 	</article> *@
	@* 	<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item"> *@
	@* 		<figure> *@
	@* 			<img src="img/gallery/06.jpg" alt="Image" class="img-fluid tm-gallery-img" /> *@
	@* 			<figcaption> *@
	@* 				<h4 class="tm-gallery-title">Third Soft Noodle</h4> *@
	@* 				<p class="tm-gallery-description">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p> *@
	@* 				<p class="tm-gallery-price">$20.50</p> *@
	@* 			</figcaption> *@
	@* 		</figure> *@
	@* 	</article> *@
	@* 	<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item"> *@
	@* 		<figure> *@
	@* 			<img src="img/gallery/05.jpg" alt="Image" class="img-fluid tm-gallery-img" /> *@
	@* 			<figcaption> *@
	@* 				<h4 class="tm-gallery-title">Aliquam sagittis</h4> *@
	@* 				<p class="tm-gallery-description">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p> *@
	@* 				<p class="tm-gallery-price">$30.25</p> *@
	@* 			</figcaption> *@
	@* 		</figure> *@
	@* 	</article> *@
	@* 	<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item"> *@
	@* 		<figure> *@
	@* 			<img src="img/gallery/04.jpg" alt="Image" class="img-fluid tm-gallery-img" /> *@
	@* 			<figcaption> *@
	@* 				<h4 class="tm-gallery-title">Maecenas eget justo</h4> *@
	@* 				<p class="tm-gallery-description">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p> *@
	@* 				<p class="tm-gallery-price">$35.50</p> *@
	@* 			</figcaption> *@
	@* 		</figure> *@
	@* 	</article> *@
	@* 	<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item"> *@
	@* 		<figure> *@
	@* 			<img src="img/gallery/03.jpg" alt="Image" class="img-fluid tm-gallery-img" /> *@
	@* 			<figcaption> *@
	@* 				<h4 class="tm-gallery-title">Quisque et felis eros</h4> *@
	@* 				<p class="tm-gallery-description">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p> *@
	@* 				<p class="tm-gallery-price">$40.50</p> *@
	@* 			</figcaption> *@
	@* 		</figure> *@
	@* 	</article> *@
	@* *@
	@* </div> *@
	@* </div> *@
	</main>
	
	@await Html.PartialAsync("FooterShared")
	
	</div>

	@await Html.PartialAsync("ScriptsShared")
	@* <script> *@
	@* 	$(document).ready(function(){ *@
	@* 		// Handle click on paging links *@
	@* 		$('.tm-paging-link').click(function(e){ *@
	@* 			e.preventDefault(); *@
	@* 			 *@
	@* 			var page = $(this).text().toLowerCase(); *@
	@* 			$('.tm-gallery-page').addClass('hidden'); *@
	@* 			$('#tm-gallery-page-' + page).removeClass('hidden'); *@
	@* 			$('.tm-paging-link').removeClass('active'); *@
	@* 			$(this).addClass("active"); *@
	@* 		}); *@
	@* 	}); *@
	@* </script> *@
</body>
</html>