@model CraftworkProject.Web.Areas.Admin.ViewModels.UserViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Users
    </h1>
</section>

<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Add user</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" method="post" action="/admin/users/update" enctype="multipart/form-data">
            <div class="box-body">
                <div class="form-group">
                    <label asp-for="Username" class="col-sm-2 control-label">Username</label>
                    <div class="col-sm-10">
                        <input readonly="readonly" asp-for="Username" type="text" class="form-control" name="Username" placeholder="Username">
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="RoleId" class="col-sm-2 control-label">Role</label>
                    <div class="col-sm-10">
                        @if (ViewBag.RoleEditAllowed)
                        {
                            <select asp-for="RoleId" asp-items="@(new SelectList(ViewBag.AllRoles, "Id", dataTextField: "Name"))" class="form-control"></select>
                        }
                        else
                        {
                            <select disabled asp-for="RoleId" asp-items="@(new SelectList(ViewBag.AllRoles, "Id", dataTextField: "Name"))" class="form-control"></select>
                        }
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="FirstName" class="col-sm-2 control-label">First name</label>
                    <div class="col-sm-10">
                        <input asp-for="FirstName" type="text" class="form-control" name="FirstName" placeholder="First name">
                        <span style="display: block; margin-top: 10px" asp-validation-for="FirstName"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="col-sm-2 control-label">Last name</label>
                    <div class="col-sm-10">
                        <input asp-for="LastName" type="text" class="form-control" name="LastName" placeholder="Last name">
                        <span style="display: block; margin-top: 10px" asp-validation-for="LastName"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input asp-for="Email" type="email" class="form-control" name="Email" placeholder="Email">
                        <span cstyle="display: block; margin-top: 10px" asp-validation-for="Email"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword" class="col-sm-2 control-label">New password</label>
                    <div class="col-sm-10">
                        <input asp-for="NewPassword" type="password" class="form-control" name="NewPassword" placeholder="New password">
                        <span style="display: block; margin-top: 10px" asp-validation-for="NewPassword"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmNewPassword" class="col-sm-2 control-label">Confirm new password</label>
                    <div class="col-sm-10">
                        <input asp-for="ConfirmNewPassword" type="password" class="form-control" name="ConfirmNewPassword" placeholder="Confirm new password">
                        <span style="display: block; margin-top: 10px" asp-validation-for="ConfirmNewPassword"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Verified" class="col-sm-2 control-label">Verified</label>
                    <div class="col-sm-10">
                        <input asp-for="Verified" type="checkbox" style="position: relative; top: 6px" name="Verified" placeholder="In stock">
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="col-sm-2 control-label">Phone number</label>
                    <div class="col-sm-10">
                        <input asp-for="PhoneNumber" type="text" style="position: relative; top: 6px" class="form-control" name="PhoneNumber" placeholder="Phone number">
                        <span style="display: block; margin-top: 10px" asp-validation-for="PhoneNumber"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumberConfirmed" class="col-sm-2 control-label">Phone number verified</label>
                    <div class="col-sm-10">
                        <input asp-for="PhoneNumberConfirmed" type="checkbox" style="position: relative; top: 6px" name="PhoneNumberConfirmed">
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ProfilePicture" class="col-sm-2 control-label">Profile Image</label>
                    <div class="col-sm-10">
                        <input asp-for="ProfilePicture" type="file" style="position: relative; top: 6px" name="ProfilePicture">
                        <span style="display: block; margin-top: 10px" asp-validation-for="ProfilePicture"></span>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <input type="button" class="btn btn-info" value="Cancel" onclick="location.href='/admin/users/'">
                <button type="submit" class="btn btn-info pull-right" id="createBtn" onclick="this.disabled = true; this.value = 'Updating'; this.form.submit();">Update</button>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
    <!-- /.box -->
</section>