@model LoginViewModel

<link href="/css/fonts/material-design-iconic-font.min.css" rel="stylesheet" media="all">
<link href="/css/fonts/font-awesome.min.css" rel="stylesheet" media="all">
<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="/css/vendor/select2.min.css" rel="stylesheet" media="all">
<link href="/css/loginform.css" rel="stylesheet" media="all">

<div class="wrapper wrapper--w680">
    <div class="card card-4">
        <div class="card-body">
            <h2 class="title">Log in</h2>
            <form asp-area="" asp-controller="Account" asp-action="Login" method="post" asp-route-returnUrl="@ViewBag.returnUrl">
                <div class="col-2">
                    <div class="input-group">
                        <label class="label" asp-for="Username">username</label>
                        <input class="input--style-4" type="text" asp-for="Username">
                        <span asp-validation-for="Username"></span>
                    </div>
                </div>
                <div class="col-2">
                    <div class="input-group">
                        <label class="label" asp-for="Password">password</label>
                        <input class="input--style-4" type="password" asp-for="Password">
                        <span asp-validation-for="Password"></span>
                    </div>
                </div>
                <div class="p-t-15">
                    <button class="btn btn--radius-2 btn--blue" type="submit">Log in</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/vendor/select2.min.js"></script>
<script src="/js/loginform.js"></script>