<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Admin Panel</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap3.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/plugins/ionicons/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/plugins/adminLTE/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/plugins/adminLTE/css/skin-blue.min.css">
  <!-- jQuery 3 -->
  <script src="/plugins/jQuery/jquery.min.js"></script>
  <!-- DataTables -->
  <script src="/plugins/dataTables/js/jquery.dataTables.js"></script>
  <script src="/plugins/dataTables/js/dataTables.buttons.min.js"></script>
  <link rel="stylesheet" href="/plugins/dataTables/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="/plugins/dataTables/css/select.dataTables.min.css">
  <!-- Bootstrap 3.3.7 -->
  <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
  <!-- AdminLTE App -->
  <script src="/plugins/adminLTE/js/adminlte.min.js"></script>
  
  <script src="/js/script.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.7/signalr.min.js"></script>
        
  <!-- Google Font -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body class="hold-transition skin-blue sidebar-mini">

  <div class="wrapper">
    <!-- Main Header -->
    <header class="main-header">
      <!-- Logo -->
      <a href="/admin/categories/index" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>AP</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>AdminPanel</b></span>
      </a>
      <!-- Header Navbar -->
      <nav class="navbar navbar-static-top" role="navigation">
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <!-- User Account Menu -->
            <li class="dropdown user user-menu">
              <!-- Menu Toggle Button -->
              <a href="/account/logout">Log out</a>
              
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
        <!-- /.search form -->
        <!-- Sidebar Menu -->
        @await Html.PartialAsync("_MainMenu")
        <!-- /.sidebar-menu -->
      </section>
      <!-- /.sidebar -->
    </aside>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      @RenderBody()
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
  </div>
</body>
</html>