@model System.Linq.IQueryable<Craftwork_Project.Domain.Models.Category>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      
</div>
</body>
</html>